.n1{
  background-color: #646165;
}
.con{
  background-color: #C8E087;
}
.con1{
  background-color: #82846D;
  text-align: center;
}
.con2{
  background-color: #95A472;

  text-align: center;
}
.mai{
  color: crimson;
  opacity: 0;
}